.container{
    display: flex;
    height: 100vh;
    scroll-behavior: smooth;
    
}

.sidebar{
    background: #E5EAFA;
   
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;

    padding: 5rem 4rem;
    gap: 2rem;

    height: 100vh;
}

.sidebar button {
    min-width: max-content;
    background: #E5EAFA;
    border: none;
    font-size: 1rem;
}

.mainContent{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar{
   position: sticky;
   top: 0;
   right: 0;
   left: 0;
}