.container{
    display: flex;
    height: max-content;
}

.navbar{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    background: #E5EAFA;

    display: flex;
    gap: 15px;
    justify-content: space-around;
    padding: 1rem;
}

.navbar button {
    min-width: max-content;
    background: #E5EAFA;
    border: none;
    font-size: 1rem;

    position: sticky;
}

.mainContent{
    display: flex;
    justify-content: center;

    height: max-content;
}